@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    list-style: none;
    color: black;
}
i {
    cursor: pointer;
}

/* Disign du header 
header start
*/
header {
    @apply bg-white flex flex-row pt-6 pr-7 pl-7 border-b-2 border-solid  mt-1
    border-slate-200 w-full pb-4 shadow-md;
}
header img {
    @apply w-10 absolute left-3 ml-4;
}
header .subject {
    @apply flex flex-row justify-center items-center m-auto;
}
header .subject li {
    @apply m-2 font-medium;
}
header .subject li:hover {
    @apply shadow-md cursor-pointer;
}
header .iconSearch {
    @apply absolute right-3 mr-5 mt-2;
}
header .iconSearch input {
    @apply border-none focus:outline-none;
}
header .iconSearch input{
    @apply hidden;
}
header .iconSearch:hover {
    @apply bg-red-500;
}
/* header end */

/* EXPLORE section */

.container_Explore {
    @apply w-full h-44 bg-green-300;
}
.container_Explore i {
    @apply bg-red-500;
}

