@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    list-style: none;
    color: black;
}
i {
    cursor: pointer;
}

/* Disign du header 
header start
*/
header {
    @apply bg-gray-100 flex flex-row pt-6 pr-7 pl-7 border-b-2 border-solid  mt-1
    border-slate-300 w-full pb-4 shadow-md drop-shadow-sm;
}
header img {
    @apply w-10 absolute left-3 ml-4;
}
header .subject {
    @apply flex flex-row justify-center items-center m-auto;
}
header .subject li {
    @apply m-2 font-medium;
}
header .subject li:hover {
    @apply shadow-md cursor-pointer;
}
header .iconSearch {
    @apply absolute right-3 mr-5 mt-2;
}
header .iconSearch input {
    @apply border-none focus:outline-none;
}
header .iconSearch input{
    @apply hidden;
}
header .iconSearch i:hover {
    @apply bg-red-500;
}
/* header end */

/* EXPLORE section */

.container_Explore {
    @apply w-full h-96 bg-gray-100 items-center justify-center flex;
}
.container_Explore .gallery-image {
    @apply overflow-hidden justify-center items-center flex p-5 w-9/12;
}
.container_Explore .gallery-image li {
    @apply hidden;
}
.container_Explore .gallery-image li img {
    @apply w-80;
}
.container_Explore .gallery-image li:first-child {
    @apply block;
}
.container_Explore .btn-left {
    @apply border-2 border-solid rounded-full bg-white drop-shadow-xl absolute left-4;
}
.container_Explore .btn-right {
    @apply border-2 border-solid rounded-full absolute right-4 bg-white drop-shadow-xl justify-center items-center flex;
}
.container_Explore  .btn-left:hover, .btn-right :hover {
    @apply border-2 border-solid border-green-400 rounded-full drop-shadow-xl;
}
.container_Explore  i {
    @apply text-slate-200 text-4xl p-3;
}